mlflow
wandb
scikit-learn
pandas
torch
matplotlib
seaborn
numpy
kaggle
kagglehub
ipykernel
xgboost
lightgbm

pytest           
# pytest-cov      
flake8   

# plotly         #3D interactivity
# umap-learn     # advanced manifold learning