
scikit-learn
torch

matplotlib
seaborn
numpy
pandas

kaggle
kagglehub

ipykernel
xgboost
lightgbm

pytest           
pytest-cov      
flake8   

yfinance 
pandas_datareader
plotly         
umap-learn     
fastparquet


prometheus-client
mlflow
wandb

tqdm
opencv-python
pytesseract

pydantic
transformers
langsmith
langgraph
langchain-core
langchain-community
