mlflow
wandb
scikit-learn
pandas
torch
matplotlib
seaborn
numpy
kaggle
kagglehub
ipykernel
xgboost
lightgbm

pytest           
# pytest-cov      
flake8   

yfinance 
pandas_datareader
plotly         
umap-learn     
fastparquet